.nav-open {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nav-open .inner::before, .nav-open .inner::after {
  background-color: #e7543d;
  content: "";
  display: block;
  height: 2px;
  width: 42px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.nav-open .inner {
    height: 40px;
}
.nav-open .inner {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
}
.nav-open .inner span {
    opacity: 1;
    color: #e7543d;
}
.nav-open .inner::before {
  margin-top: 0px;
  position: absolute;
}
.nav-open .inner::after {
  margin-top: 0px;
  position: absolute;
}

.nav-open.nav-close .inner {
  background-color: transparent;
  left: 54%;
}
.nav-open.nav-close .inner span {
  -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
     opacity: 0;
}
.nav-open.nav-close .inner::before, .nav-open.nav-close .inner::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  width: 42px;
}
.nav-open.nav-close .inner::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.dropdown-menu li {
    display: block;
}
.user li {
    
}
.header{
    position: fixed;
    background: #fff;
    width: 100%;
}
.affix {
    
/*    background: red;*/
  }
.past-main {
    background: red;
}
.wrapper {
    padding-top: 100px;
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 26px;
    }
}