.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}
.woocommerce-page hr, hr {
/*	width: 100%!important;*/
	max-width: none;
}
.btn {
	margin: 10px;
}
.orange {
	color: #e7543d;
}

.margin-10 {
	margin: 10px!important;
}
.margin-30 {
	margin: 30px!important;
}
.wrapper {
	padding-top: 100px;
}
input[type=text], input[type=email], input[type=password], input[type=search], textarea, textarea.form-control {
	height: 55px;
}
span#page-header {
	height: 0;
	padding: 0;
	margin: 0;
	line-height: 0;
	font-size: 0;
	position: absolute
}
/*new navbar*/
.navbar-header > button {
	padding: 0;
	margin-top: 4px;
}
.nav-open {}
.nav-open .inner::before,
.nav-open .inner::after {
	background-color: #e7543d;
	content: "";
	display: block;
	height: 2px;
	width: 42px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.nav-open .inner {
	height: 30px;
	width: 42px;
	padding-top: 4px;
}
.nav-open .inner {
/*	left: 50%;*/
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-20%, -20%);
	transform: translate(-20%, -20%);
}
.nav-open .inner span {
	opacity: 1;
	color: #e7543d;
    font-size: 16px;
}
.nav-open .inner::before {
	margin-top: 1px;
	position: absolute;
}
.nav-open .inner::after {
	margin-top: 0px;
	position: absolute;
}
.nav-open.nav-close .inner {
	background-color: transparent;
	left: 54%;
}
.nav-open.nav-close .inner span {
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	opacity: 0;
}
.nav-open.nav-close .inner::before,
.nav-open.nav-close .inner::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	width: 42px;
}
.nav-open.nav-close .inner::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.dropdown-menu li {
	display: block;
}
/*new navigation*/
.navbar.past-main {
	border-bottom: 1px solid #ccc;
	padding-top: 7px;
	padding-bottom: 7px;
}
.navbar.past-main h2 {
	font-size: 26px;
	margin: 9px 0;
}
.navbar {
    background: white;	
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .container {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar h2 {
	display: inline-block;
	margin: 12px 0;
}
.navbar a {
    color: #333;   
}
.navbar-nav a {
    font-size: 16px;
}
.navbar-nav li > ul.dropdown-menu {
	padding: 0;
}
.navbar-nav li > ul.dropdown-menu li {
	margin: 0;
}
.navbar-nav li > ul.dropdown-menu li a{
	color: white;
	padding: 10px;
	margin: 0;
}
.navbar-nav li > ul.dropdown-menu li a:hover {
	color: #333;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	width: 100%;
	text-align: center!important;
}
.side-nav li {
	float: left;
}
.side-nav {
	margin: 0;
	display: inline-block;
	float: right;
	padding-right: 20px;
}
.side-nav .btn-search {
	padding: 0 16px;
	line-height: 49px;
	height: 49px;
    margin: 0;
}
.side-nav .form-control {
	background: white;
}
.side-nav > li {
	display: inline-block;
}
.side-nav > li a {
	display: block;
	padding: 10px;
}
.side-nav > li > .dropdown-menu {
    width: 280px;
	padding: 14px;
	background: #eee;
}
.side-nav > li.member-list > .dropdown-menu {
	width: 120px;
	text-align: center;
}
.side-nav > li.member-list > .dropdown-menu li {
	display: block;
	width: 100%;
}
li.cart-list > .dropdown-menu {
	width: 320px;
}
li.cart-list > .dropdown-menu li {
	border-bottom: 1px solid #eee;
	width: 100%;
}
.cart-list li {
	padding: 6px;
}
.cart-list .fig img {
    width: 80px;
}
.cart-list > a {
	display: inline;
}
.navbar-nav > li.cart-list > .dropdown-menu li a {
	padding: 0;
}
.side-nav.navbar-nav li.cart-list > ul.dropdown-menu li a:hover {
	background-color: white;
	color: #e7543d;
}
.side-nav.navbar-nav li > ul.dropdown-menu li a {
    color: #333;
}
.side-nav.navbar-nav li > ul.dropdown-menu li a:hover {
	color: #fff;
	background: #e7543d;
}
.side-nav .dropdown .dropdown-menu {
	left: auto;
	right: -20px;
	top: 40px;
}
.side-nav .dropdown .dropdown-menu.search {
	width: 300px;
	right: -120px;
}
.side-nav .dropdown .dropdown-menu.cart {
	top: 50px;
    max-width: 350px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: white;
}
.cart-list > a ins, .cart-list-empty > a ins {
	padding: 1px 8px;
	line-height: 22px;
	font-size: 14px;
}
.side-nav .btn {
	background: #e7543d;
}
.side-nav ul.dropdown-menu{
	width: auto;
	position: absolute;
}
.dropdown.member-list {
	text-align: center;
	
}
.hcart-total {
	padding-top: 10px;
}
.hcart-total .btn {
	float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.hcart-total a {
	color: #fff;
}
@media screen and (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
    .navbar-header {
        float: right;
    }
	.navbar-right .dropdown-menu {
		right: auto;
		left: 0;
	}
	.side-nav.navbar-right .dropdown-menu {
		right: -200px;
		left: auto;
	}
}
/*
@media screen and (min-width: 980px) {
	.navbar-collapse.in {
		
	}
}
*/
@media screen and (max-width: 980px) {
	.navbar-nav {
		margin: 10px auto;
	}
	.nav {
		width: 100%;
	}
	.navbar {
		border-bottom: 1px solid #eee;
	}
	.nav > li {
        float: none;
    }
	.navbar-collaps .nav > li {
        float: none;
    }
	.side-nav {
		margin-top: -4px;
	}
	.navbar-collapse .nav li {
		width: 100%;
	}
	.navbar-nav .open .dropdown-menu > li > a{
		text-align: center;
		padding: 10px;
	}
	.navbar .col-sm-9 {
		padding-top: 6px;
		margin-top: -50px;
		width: 100%;
	}
	.navbar .col-sm-3 {
        z-index: 9999;
        width: 40%;
		padding-left: 0;
    }
}
@media screen and (max-width: 767px) {
	.side-nav {
		margin-top: -12px;
		margin-right: 10px;
	}
/*
	.navbar .col-sm-3 {
        z-index: 9999;
        width: 40%;
		padding-left: 0;
    }
*/
    .navbar .col-sm-9 {
        margin-top: -50px;
		z-index: 999;
    }
}
@media screen and (max-width: 480px) {
	.navbar .col-sm-9 {
		padding-top: 3px;
	}
}
/*post*/
.post {
	padding: 10px 0 90px;
}
/*cart*/
.cart-total-new {
	padding-right: 150px;
}
@media screen and (max-width: 1200px) {
	.cart-total-new {
		padding-right: 110px;
	}
}
@media screen and (max-width: 980px) {
	.cart-total-new {
		padding-right: 90px;
	}
}
@media screen and (max-width: 767px) {
	.cart-total-new {
		padding-right: 80px;
	}
}
@media screen and (max-width: 480px) {
	.cart-total-new {
		padding-right: 0;
	}
}
/*checkout */
.Shipping-conditions {
	padding: 30px 0;
	border-bottom: 1px solid #eee;
}
.Shipping-conditions > .col-sm-7, .Shipping-conditions > .col-sm-5, .Shipping-conditions > .col-sm-12 {
	margin-bottom: 26px;
}
.panel-group {
	margin-left: 40px;
}
.donate-total {
	background: #efefef;
	padding-top: 50px;
	margin-top: 50px;
}
.donate-total h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}
/*login*/
.fb-blue {
	background: #3b5998!important;
	width: 80%;
	margin-top: 0;
}
.gp-red {
	background: #dc4e41!important;
	width: 80%;
	margin-top: 0;
}
.login-block {
	background: #efefef;
	padding: 30px;
	margin-bottom: 50px;
}
.login-block h3 {
	line-height: 1.5;
	margin: 0 0 20px;
}
.login-block h4 {
/*	text-align: left;*/
	font-size: 20px;
	line-height: 1.75;
	margin: 0;
}
.login-block h4.text-center {
	text-align: center;
}
.tip {
	font-size: 15px;
	color: #E7543D;
	line-height: 2;
	display: block;
}
.tip a {
	text-decoration: underline;
}
p.note {
	font-size: 16px;
	line-height: 1.75;
	margin: 10px 0;
}
.note-deco {
	text-decoration: underline;
}
.note-block {
	border: 1px dashed #ccc;
	padding: 20px;
	text-align: left;
}
.signup-block .checkbox label {
	font-size: 16px;
	text-align: left!important;
}
/*
.input-half .form-group, .signup-block .checkbox labe, p.note.note-block {
	width: 60%;
	margin: 10px auto;
}
*/
.checkbox {
	text-align: left;
	margin-top: 14px;
	margin-bottom: 14px;
}
@media screen and (max-width: 768px) {
	.border-btm {
		border-bottom: 1px solid #ccc;
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
}